@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --color-primary-50:  #eff8ff;
    --color-primary-100: #d0e8ff;
    --color-primary-200: #a7d5ff;
    --color-primary-300: #78beff;
    --color-primary-400: #309dff;
    --color-primary-500: #0072ff;
    --color-primary-600: #0063df;
    --color-primary-700: #0055bf;
    --color-primary-800: #004599;
    --color-primary-900: #003472;
    --color-primary-950: #062549;

    --color-neutral-50: #F9FAFB;
    --color-neutral-100: #F3F4F6;
    --color-neutral-200: #E5E7EB;
    --color-neutral-300: #D1D5DB;
    --color-neutral-400: #9CA3AF;
    --color-neutral-500: #6B7280;
    --color-neutral-600: #4B5563;
    --color-neutral-700: #374151;
    --color-neutral-800: #1F2937;
    --color-neutral-900: #111827;
    --color-neutral-950: #030712;
}